*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
}
.burger{
	display: none;
}
.mobile_desc_special{
	display: none;
}
.go_top{
	visibility: hidden;
	border: 1px solid #ca3d26;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 15;
	position: fixed;
	width: 40px;
	height: 40px;
	background-color: #ca3d26;
	bottom: 0px;
	right: 15px;
}

.go_top.outt{
	transform: translateY(-20px);
	visibility: visible;
	transition: 0.5s;
}

.go_top i{
	color: white;
	font-size: 15px;
}

.go_top:hover{
	background-color: black;
	border: 1px solid white;
	transition: 0.5s;
}

.go_top:not(hover){
	transition: 0.5s;
}

/*Фоновый блок и меню сверху*/

.first_area{
	height: 100vh;
	background-image: url(../images/buterbrod.jpg);
	background-size: cover;
}

.menu{
	position: absolute;
	width: 100%;
	height: 120px;
	z-index: 13;
}

.menu-contacts{
	display: flex;
	height: 40px;
	width: 100%;
}

.menu-basic{
	height: 70px;
	width: 100%;
	transition: 0.4s;
}

/*Анимация с меню при скроле */
.menu-basic.out{
	transform: translateY(-40px);
	position: fixed;
	transition: 0.4s;
	background-color: white;
	margin-top: -2px;
    box-shadow: 0px 3px 15px black;
}
.menu-basic.out a{
	color: black;
}
/*Конец анимации с меню при скроле*/

/*Треугольники в базовом меню*/

.menu-basic-triangles{
	width: 100%;
	height: 10px;
	background-image: url(../images/triangle9x6.svg);
	background-size: contain;
	position: absolute;
	bottom: -10px;
	visibility: hidden;
}

/*Анимация появление треугольников вместе с меню во время скрола*/
.menu-basic.out .menu-basic-triangles{
    visibility: visible;
    bottom: -8.5px;
}

/*Конец анимации появление треугольников вместе с меню во время скрола*/

/*Конец треугольгников в базовом меню*/

/*Лого почты + текст, лого телефона + текст*/
.menu-contacts p{ 
	color: white;
	font-family: Arial;
	font-size: 15px;
	padding-top: 12px;
	
}
.menu-contacts i{
	padding-right: 10px;
	color: white;
}

.firsttext{
	padding-left: 100px;
}

.secondtext{
	padding-left: 20px;
}
/*Конец лого почты + текст, лого телефона + текст*/


/*Блок с логотипами соц. сетей*/

.sociallogo ul li{
   list-style-type: none;
   padding-left: 5px;
   padding-right: 5px;
   line-height: 40px;

}

.sociallogo ul{ 
	display: flex;
    flex-wrap: wrap;
	padding-left: 150px;
}
    
.menu-contacts ul li:hover i{
	transition: 0.6s;
    color: #ca3d26;

}

.menu-contacts ul li:not(hover){
	transition: 0.6s;
}

.menu-contacts a{
	text-decoration: none;
}

.menu-contacts ul li:hover {
	transition: 0.6s;
    color: #ca3d26;
    background-color: white;
}

.menu-contacts ul li:hover a{
	transition: 0.6s;
    color: #ca3d26;
}
.menu-contacts ul li a:hover {
  color: #ca3d26;
}

.table{
   width: 240px;
   text-align: center;
   background-color: #ca3d26;
}

.in_table{
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
	color: white;

}

.table:not(hover) a{
	transition: 0.6s;

}
/*Конец блока с логотипами соц. сетей*/

/*Полоска между слоями меню*/
 
.solid{
	height: 1px;
	width: 100%;
	background-color: grey;
	margin-top: 1px;
}

/*Конец полоски между слоями меню*/

/*Базовое меню - логотип и меню*/

.menu-basic{
	margin-top: 5px;
	display: flex;
}

.logo{
	height: 60px;
	width: 170px;
	margin-left: 100px;
	margin-top: 5px;
	background-image: url(../images/logo5.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.menu-basic-buttons{
	margin-top: -5px;
	margin-left: 14%;
}

.menu-basic-buttons ul li{
   text-align: center;
   list-style-type: none;
   line-height: 80px;
   width: 90px;
}

.menu-basic-buttons ul li a{
	text-decoration: none;
	color: white;
	font-family: 'Rubik', sans-serif;
	font-size: 11pt;

}

.menu-basic-buttons ul{
	display: flex; 
    flex-wrap: wrap;
}

.menu-basic-buttons ul li:hover a{
    color: red;
    transition: 0.6s;
}

.menu-basic-buttons ul li:not(hover) a{
    transition: 0.6s;
}

/*Конец базового меню - логотип и меню*/


/* Слайдер */

.first_area .photo p{
	text-align: center;
    top: 35%;
    position: relative;
	font-size: 50px;
	color: white;
    font-family: 'Pacifico', cursive;
    z-index: 150;
}

.photo{
	position: relative;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.slide_button{
	text-align: center;
	z-index: 150;
	height: 40px;
	width: 220px;
	border: 2px solid white;
	position: relative;
	margin: auto;
	top: 40%;
}

.slide_button a{
	text-decoration: none;
	color: white;
	position: absolute;
	width: 100%;
    left: 0;
    bottom: 12px;
	font-size: 15px; 
	font-weight: bold;
	font-family: 'Rubik', sans-serif;
}

/*Анимация кнопки*/

.slide_button:hover {
	border: 2px solid #ca3d26;
	background-color: #ca3d26;
	transition: 0.4s;
}

.slide_button:not(hover) {
    border: 2px solid white;
	transition: 0.4s;
}


/*Конец анимации кнопки*/

.rev_slider{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100vh;
	z-index: 3;
}

.slick-arrow.slick-prev{
	margin-left: 30px;
	z-index: 13;
}

.slick-arrow.slick-next{
	margin-right: 30px;
	z-index: 13;
}

/*Блок для затетение*/

.slider-eclipse{
	opacity: 0.3;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: black;
}

/*Конец блока для затенение*/

/*Конец слайдера*/

/*Конец фонового блока и меню----------------------------------------------------------------------------*/


/*Блок с информацией "Про нас"---------------------------------------------------------------------------*/


.about_us{
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url(../images/background3_6.jpg);
    background-size: cover;
}

.about_us-triangles{
	background-image: url(../images/triangle9x6.svg);
	background-size: contain;
	position: relative;
	width: 100%;
	height: 10px;
	top: -8px;
	z-index: 12;
	transform: rotate(180deg);
}

.our_story{
	font-family: 'Pacifico', cursive;
	color: #ca3d26;
	font-size: 50px;
	text-align: center;
}

.about_us p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: #555555;
}

.allhistory{
	align-items: center;
	justify-content: center;
	margin-top: 4%;
	width: 100%;
	display: flex;
    position: absolute; 
}

.history1{
	width: 30%;
	display: flex;
	margin: auto;
}

.history2{
	width: 30%;
	display: flex;
	margin: auto;
}

.history1 p span{
	color: #ca3d26;
	font-size: 100px;
	float: left;
	line-height: 50px;
}

/*Конец блока с информацией "Про нас"--------------------------------------------------------------------*/



/*Блок со специальными предложениями и акциями-----------------------------------------------------------*/

.special_pages{
	height: 120vh;
	width: 100%;
	background-image: url(../images/pizza9.jpeg);
	background-size: cover;
	position: relative;

}

.special_pages-triangles{
	background-image: url(../images/triangle9x6.svg);
	background-size: contain;
	position: relative;
	width: 100%;
	height: 10px;
	z-index: 12;
	bottom: 2px;
}

.special_pages .slider-eclipse{
	height: 120vh;
}

.sales{
	font-family: 'Pacifico', cursive;
	color: #ca3d26;
	font-size: 50px;
	text-align: center;
	position: relative;
	z-index: 12;
	line-height: 30vh;
}

.slider-area-special_pages{
	position: relative;
    height: 70vh;
    width: 80%;
    margin-left: 10%;
}

/* Слайдер */

.slider-area-special_pages .photo{
	position: relative;	
	width: 65%;
	height: 60vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.special_pages .slider-eclipse{
	opacity: 0.5;
}

.slider-area-special_pages .rev_slider_for-special{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 60vh;
	z-index: 3;
}

.slider-area-special_pages .slick-arrow.slick-prev{
	margin-left: 30px;
	z-index: 13;
}

.slider-area-special_pages .slick-arrow.slick-next{
	margin-right: 30px;
	z-index: 13;
}

.rev_slider_for-special .slick-arrow{
    visibility: hidden;
}

.desc_special{	
	position: absolute;
	right: -45%;
	bottom: 10%;
	height: 70%;
	width: 60%;
	background-color: white;
}

.slider-area-special_pages .photo h1{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	font-size: 30px;
	color: black;
    font-family: 'Ubuntu', sans-serif;
}

.slider-area-special_pages .photo p{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	font-size: 17px;
	color: #555555;
    font-family: 'Ubuntu', sans-serif;
}

/*Конец слайдера*/


/*Конец блока со специальными предложениями и акциями-------------------------------------------*/




/*Меню------------------------------------------------------------------------------------------*/

.food_menu{
	height: 200vh;
	width: 100%;
	background-color: #ffffff;
}

.food_menu-triangles{
    background-image: url(../images/triangle9x6.svg);
	background-size: contain;
	position: relative;
	width: 100%;
	height: 10px;
	top: -8px;
	z-index: 12;
	transform: rotate(180deg);
}

.dish_menu{
	padding-left: 5px;
    position: relative;
    margin-left: 5%;
    margin-top: 2%;
	width: 90%;
	height: 80%;
}

.dish1,.dish2,.dish3,.dish4,.dish5,.dish6,.dish7,.dish8,.dish9,.dish10{
	float: left;
	width: 50%;
    height: 20%;
    align-items: center;
}

.border{
	height: 0.1em;
	width: 95%;
	background-color: grey;
	position: absolute;
	bottom: 0;
}

.price{
	font-weight: bolder;
	color: #ca3d26;
	position: absolute;
	bottom: 5px;
	font-size: 20px;
	right: 3%;
	font-family: 'Ubuntu', sans-serif;
}

.dish1{
	justify-content: center;
	position: relative;
	display: flex;
}

.dish2{
	justify-content: center;
	position: relative;
	display: flex;
}

.dish3{
	justify-content: center;
	position: relative;
	display: flex;
}

.dish4{
	justify-content: center;
	position: relative;
	display: flex;
}

.dish5{
	justify-content: center;
	position: relative;
	display: flex;
}

.dish6{
	justify-content: center;
	position: relative;
	display: flex;
}

.dish7{
	justify-content: center;
	position: relative;
	display: flex;
}

.dish8{
	justify-content: center;
	position: relative;
	display: flex;
}

.dish9{
	justify-content: center;
	position: relative;
	display: flex;
}

.dish10{
	justify-content: center;
	position: relative;
	display: flex;
}

.area1left{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 24vh;
   width: 24vh;
}

.area2right{
	height: 24vh;
	width: calc(100% - 24vh);
}

.area2right h1{
	margin-top: 15px;
	font-size: 30px;
	color: black;
    font-family: 'Ubuntu', sans-serif;
}

.area2right p{
	position: relative;
    font-family: 'Ubuntu', sans-serif;
	
}

.area2right span{
	display: inline-block;
	width: 130px;
	line-height: 30px;
	font-size: 15px;
	color: #555555;
    font-family: 'Ubuntu', sans-serif;
	
}

.dishimage{
	border: 5px solid #ca3d26;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	background-size: cover;
}
/*Конец меню-----------------------------------------------------------------------------------------*/











/*Бронировка столика-----------------------------------------------------------------------------------*/

.book_table{
	position: relative;
	height: 60vh;
	width: 100%;
    background-image: url(../images/pizza6.jpeg);
    background-size: cover;
}

.book_table-triangles{
	background-image: url(../images/triangle9x6.svg);
	background-size: contain;
	position: relative;
	width: 100%;
	height: 10px;
	z-index: 12;
	bottom: 2px;
}

.book_table-eclipse{
	top: 0;
	opacity: 0.3;
	position: absolute;
	height: 60vh;
	width: 100%;
	background-color: black;
}

.book_table p{
	text-align: center;
    top: 25%;
    position: relative;
	font-size: 50px;
	color: white;
	z-index: 12;
    font-family: 'Pacifico', cursive;
}

.book_table .slide_button{
	text-align: center;
	z-index: 12;
	background-color: white;
	height: 40px;
	width: 220px;
	border: 2px solid white;
	position: relative;
	margin: auto;
	top: 40%;
}

.book_table .slide_button a{
    color: #ca3d26;
}

.book_table .slide_button:hover {
	background-color: #ca3d26;
	border: 2px solid #ca3d26;
}

.book_table .slide_button:hover a{
    color: white;
}

/*Конец блока с бронировкой столика--------------------------------------------------------------------------*/






/*Блок с командой--------------------------------------------------------------------------------------------*/

.team{
	height: 100vh;
	width: 100%;
	background-color: #ffffff;
}

.team_area{
	position: relative;
	height: 60%;
	width: 80%;
	margin-left: 10%;
	margin-top: 5%;
	display: flex;
}

.chef_image{
	height: 100%;
	width: 40%;
	background-image: url(../images/chef.png);
	background-size: cover;
}

.chef_desc{
	width: 60%;
	height: 100%;

}

.chef_desc h1{
    font-size: 50px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

.chef_desc h3{
	line-height: 70px;
    font-size: 20px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}


.chef_desc p{
	margin-top: 3%;
    font-size: 17px;
    color: #555555;
    font-family: 'Ubuntu', sans-serif;
}

.chef_desc_border{
    height: 2px;
    width: 100%;
    background-color: #ca3d26;
}
/*Конец блока с командой-------------------------------------------------------------------------------------*/






/*Блок с коментрариями--------------------------------------------------------------------------------------*/


.comments{
	height: 120vh;
	width: 100%;
	background-image: url(../images/pizza44.jpeg);
	background-size: cover;
	position: relative;

}

.comments .slider-eclipse{
	height: 120vh;
	opacity: 0.5;
}

.slider-area-special_pages .rev_slider_for-comments{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 70vh;
	z-index: 3;
}

.rev_slider_for-comments .slick-arrow{
    visibility: hidden;
}

.comments_block{
	position: relative;
	height: 70vh;
	background-color: black;
	margin-right: 7px;
	margin-left: 7px;
}

.comments_block_image{
   position: relative;
   height: 50%;
   width: 100%;
   top: 0;
   background-size: cover;

}

/*Вывод картинки через бд теперь через img а не background-image*/
/*Стили к каждому img*/
.slick-slide img {
    display: block;
    width: 100%;
    height: 100%;
}


/*Конец стилей к img*/

.comments_block_content{
   position: relative;
   height: 50%;
   width: 100%;
   background-color: white;
}

.comments_block_content h1{
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
}

.comments_border{
   width: 50%;
   margin-left: 25%;
   height: 2px;
   position: relative;
   background-color: #ca3d26;
}

.comments_block_content p{
	text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 16px;
    color: #555555;
    font-family: 'Ubuntu', sans-serif;
}

/*Кнец блока с коментраиями---------------------------------------------------------------------------------*/







/*Блок с галереей-------------------------------------------------------------------------------------------*/


.gallery{
	width: 100%;
	height: 250vh;
	background-color: white;

}

.container_grid{
	width: 90%;
	height: 90%;
	margin-left: 5%;
	margin-top: 2%;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(16, 1fr);
	grid-gap: 1em;
}

.container_grid div{
	background-color: bisque;
}

.grid1{
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 5;
	background-image: url(../images/pizza46.jpeg);
	background-size: cover;
}

.grid2{
	grid-column-start: 8;
	grid-column-end: 11;
	grid-row-start: 1;
	grid-row-end: 7;
	background-image: url(../images/pizza45.jpeg);
	background-size: cover;
	background-position: center;
}

.grid3{
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 7;
	background-image: url(../images/pizza47.jpg);
	background-size: cover;
	background-position: center;
}

.grid4{
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 5;
	grid-row-end: 7;
	background-image: url(../images/pizza48.jpg);
	background-size: cover;
	background-position: center;
}

.grid5{
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 7;
	grid-row-end: 10;
	background-image: url(../images/pizza49.jpeg);
	background-size: cover;
	background-position: center;
}

.grid6{
	grid-column-start: 6;
	grid-column-end: 11;
	grid-row-start: 7;
	grid-row-end: 10;
	background-image: url(../images/pizza50.jpeg);
	background-size: cover;
	background-position: center;
}

.grid7{
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 10;
	grid-row-end: 16;
	background-image: url(../images/pizza52.jpeg);
	background-size: cover;
	background-position: center;
}

.grid8{
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 10;
	grid-row-end: 12;
	background-image: url(../images/pizza51.jpeg);
	background-size: cover;
	background-position: center;
}

.grid9{
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 12;
	grid-row-end: 16;
	background-image: url(../images/pizza53.jpeg);
	background-size: cover;
	background-position: center;
}

.grid10{
	grid-column-start: 11;
	grid-column-end: 7;
	grid-row-start: 10;
	grid-row-end: 16;
	background-image: url(../images/pizza54.jpeg);
	background-size: cover;
	background-position: center;
}

/*Конец блока с галереей------------------------------------------------------------------------------------*/

/*Футер-----------------------------------------------------------------------------------------------------*/



.footer{
	text-align: center;
	position: relative;
	height: 70vh;
	width: 100%;
	background-image: url(../images/pizza55.jpeg);
	background-size: cover;
}

.footer .footer-eclipse{
	position: absolute;
	width: 100%;
	height: 70vh;
	top: 0;
	background-color: black;
	opacity: 0.6;
}

.footer-triangles{
	background-image: url(../images/triangle9x6.svg);
	background-size: contain;
	position: relative;
	width: 100%;
	height: 10px;
	z-index: 12;
	bottom: 2px;
}

.footer_logo{
   z-index: 15 ;
   position: relative;
   width: 15%;
   height: 15%;
   margin-top: 3%;
   margin-bottom: 2%;
   margin-left: 45%;
   background-image: url(../images/logo5.svg);
   background-size: contain;
   background-repeat: no-repeat;

}

.find_us {
	position: relative;
	margin-top: 2%;
    font-size: 17px;
    color: white;
    z-index: 15;
    font-family: 'Ubuntu', sans-serif;
}

.footer p{
	position: relative;
	margin-top: 2%;
    font-size: 17px;
    color: white;
    z-index: 15;
    font-family: 'Ubuntu', sans-serif;
}

.social_networks{
	justify-content: center;
	z-index: 15;
	list-style-type: none;
	display: flex;
	width: 30%;
	height: 50px;
	margin-left: 35%;
	margin-top: 1%;
}

.social_networks li{
	line-height: 50px;
	text-align: center;
	z-index: 15;
	height: 50px;
	width: 50px;
}

.social_networks li a{
    color: white;
}

/*Анимация*/
 
.social_networks li:hover a{
   color: #ca3d26;
   transition: 0.4s;
}

.social_networks li:not(hover) a{
	color: white;
	transition: 0.4s;
}

.footer_border{
	margin-top: 2%;
	height: 1px;
	width: 90%;
	margin-left: 5%;
	background-color: grey;
}

/*Конец анимации*/

/*Конец футера----------------------------------------------------------------------------------------------*/



/*------------------------------Адаптация под дисплеи с шириной до 1280------------------------------*/

@media (max-width: 1280px) {
	.mobile_desc_special{
		display: none;
	}
	.burger{
		display: none;
	}
	/*Левая сторона*/

	.firsttext{
		padding-left: 4%;
	}
	.logo{
    	margin-left: 4%;
    }

    /*Конец левой стороны*/



    /*Правая сторона*/

    .sociallogo ul{
    	padding-left: 0px;
    }
    .sociallogo{
    	margin-left: 4%;
    }
    .menu-basic-buttons{
    	margin-left: 4%;
    }

    /*Конец првой стороны*/
    .food_menu{
	height: 250vh;
	width: 100%;
	background-color: #ffffff;
}

}






@media (max-width: 1094px) {
	.go_top{
		width: 75px;
		height: 75px;
	}
	.go_top i{
		font-size: 35px;
	}
	.first_area .photo p {
    font-size: 65px;

}
	.slide .slide_button{
		border: 3px solid white;
		width: 450px;
		height: 100px;
	}
	.slide .slide_button a{
		bottom: 30px;
	}
    .menu-contacts{
    	height: 100px;
    	display: block;
    }
    .firsttext{
    	display: none;
    	visibility: hidden;
        width: 50%;
        height: 100px;
        padding: 0;
        text-align: center;
        justify-content: center;
    	align-items: center;
    }
    .secondtext{
    	display: none;
    	padding: 0;
    	width: 50%;
    	height: 100px;
    	text-align: center;
    	justify-content: center;
    	align-items: center;
    }
    .menu-contacts p{
    	padding-top: 0 ;
    	font-size: 30px;
    }
    .menu-basic.out{
	transform: translateY(-100px);
	position: fixed;
	transition: 0.4s;
	background-color: white;
	margin-top: -2px;
    box-shadow: 0px 3px 15px black;
    }
    .menu-basic-buttons{
    	display: none;
    }


    /*Стили при нажатии на кнопку*/
    .menu-basic-buttonsopen{
    	display: block;
    	position: absolute;
    	margin-top: 148px;
    	width: 100%;
    	background-color: white; 
    	transition: 0.5s;
    }
    .menu-basic-buttonsopen ul li{
        width: 200px;
        line-height: 100px;
        text-align: center;
        margin-left: 50px;
        list-style: none;
        transition: 0.5s;
    }
    .menu-basic-buttonsopen ul li a{
    	font-size: 35px;
    	color: #222;
    	text-decoration: none;
    	font-family: 'Rubik', sans-serif;
    }
    /*Конец стилей при нажатии на кнопку*/
    
    .menu-basic_ul.out{
    	background-color: white;
    }
    .burger.out{
    	border: 3px solid #222;
    }
    .burger_line.out{
    	background-color: #222;
    }
    .sociallogo{
    	height: 100px;
    	margin-left: 0;
    }
    .sociallogo ul{
        height: 100px;
        width: 100%;
    }
    .sociallogo ul .fa_logo{
    	display: flex;
        width: 100px;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .fa_logo a{
    	font-size: 35px;
    }
    .table{
    	margin-left: 15%;
    	width: 240px;
    }
    .in_table{
    	font-size: 20px;
        line-height: 100px;
    }
    .menu-basic{
    	position: relative;
    	margin-top: 0px;
    	height: 150px;
    	background-color: white;
    }
    .logo{
    	position: absolute;
    	margin-top: 10px;
    	margin-left: 15px;
    	height: 130px;
    	width: 300px;
    }
    .burger{
    	position: absolute;
    	display: block;
    	top: 25px;
    	right: 50px;
    	width: 100px;
    	height: 100px;
    	border: 3px solid #222;
    }
    .burger_line{
    	margin-top: 19px ;
    	margin-left: 10%;
    	width: 80%;
    	height: 8px;
    	background-color: #222;
    }




    /*О нас------------------------------------------*/
    .about_us{
    	background-position: center;
    	height: 80vh;
    }
    .our_story{
    	font-size: 150px;
    }
    .allhistory{
    	margin-top: 50px;
    	display: block;
    	margin-left: ;
    }
    .allhistory p{
    	font-size: 40px;
    }
    .history1{
    	width: 90%;
    }
    .history2{
    	margin-top: 50px;
    	width: 90%;
    }

/*Специальные предложения----------------------------------------------------*/
.special_pages{
	height: 80vh;
	background-position: center;
}
.special_pages .slider-eclipse{
	height: 80vh;
	opacity: 0.3;
}
.sales{
	font-size: 80px;
	line-height: 20vh;
}
.slider-area-special_pages{
	width: 94%;
	height: 50vh;
	margin-left: 3%;
}
.slider-area-special_pages .photo{
    width: 100%;
    height: 25vh;
    position: relative;
}
.desc_special{
	display: none;
}
.mobile_desc_special{
    width: 100%;
    height: 15vh;
    background-color: white;
    display: block;
    padding-top: 30px;
}
.mobile_desc_special h1 {
    margin-left: 50px;
    margin-right: 50px;
    /*margin-top: 30px;*/
    font-size: 50px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
.mobile_desc_special p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 35px;
    color: #555555;
    font-family: 'Ubuntu', sans-serif;
}
/*Меню-----------------------------------------------------------------------*/
.food_menu{
	height: 270vh;
	width: 100%;
	background-color: #ffffff;
}
.dish_menu{
	margin-top: 2vh;
	width: 98%;
	margin-left: 1%;
	display: block;
	float: none;
}
.dish1, .dish2, .dish3, .dish4, .dish5, .dish6, .dish7, .dish8, .dish9, .dish10{
	float: none;
	width: 100%;
	/*height: 12%;*/
	height: 25vh;
	display: flex;
}
.area1left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    width: 18vh;
}
.area2right {
    height: 24vh;
    width: calc(100% - 18vh);
}
.area2right h1 {
    margin-top: 100px;
    font-size: 50px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
.area2right span {
    display: inline-block;
    width: 130px;
    line-height: 50px;
    font-size: 20px;
    color: #555555;
    font-family: 'Ubuntu', sans-serif;
}
.dishimage {
    border: 5px solid #ca3d26;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-size: cover;
}
.price {
    font-weight: bolder;
    color: #ca3d26;
    position: absolute;
    bottom: 5px;
    font-size: 40px;
    right: 5%;
    font-family: 'Ubuntu', sans-serif;
}
/*Бронировка столика---------------------------------------------*/
.book_table{
	height: 30vh;
}
.book_table-eclipse{
	height: 30vh;
}
.book_table p{
	font-size: 75px;
}
.book_table .slide_button {
    height: 80px;
    width: 420px;
}
.slide_button a {
    bottom: 19px;
    font-size: 35px;

}
/*Команда--------------------------------------------------------------*/
.team{
	height: 110vh;
}
.team_area{
	width: 92%;
	margin-left: 4%;
	height: 70%;
	display: block;
}
.chef_image {
    height: 70%;
    width: 100%;
    background-image: url(../images/chef.png);
    background-size: cover;
}
.chef_desc {
    width: 100%;
    height: 30%;
}
.chef_desc h1 {
	line-height: 150px;
    font-size: 60px;
}
.chef_desc h3 {
    line-height: 100px;
    font-size: 30px;
}
.chef_desc p {
    font-size: 35px;

}
/*Отзывы---------------------------------------------------------------*/

.comments{
    height: 100vh;
}
.comments .slider-eclipse{
	height: 100vh;
}
.comments_block_content h1 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 100;
    font-size: 100px;
    line-height: 130px;
}
.comments_border {
    width: 60%;
    margin-left: 20%;
    height: 3px;
}
.comments_block_content p {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    font-size: 40px;
}


/*Галерея--------------------------------------------------------------*/


.gallery{
    height: 100vh;
}


/*Футер----------------------------------------------------------------*/
.footer {
    height: 26vh;
    width: 100%;
}
.footer .footer-eclipse {
    height: 26vh;
}
.find_us{
	font-size: 25px;
}
.social_networks {
    z-index: 15;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    display: flex;
    width: 40%;
    height: 70px;
    margin-left: 30%;
    margin-top: 1%;
}
.social_networks li {
    line-height: 50px;
    height: 50px;
    width: 75px;
}
.social_networks li a{
	font-size: 25px;
}
.footer p{
	font-size: 25px;
}



}